html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto Slab';
    text-decoration: none;
    list-style: none;
}

/* header */

.header {
    width: 100%;
    background-color: #27262A;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
}

.header-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header-text {
    text-align: center;
    font-size: 24px;
    color: #8D81AC;
    font-weight: 700;
}

/* main */

.container {
    width: 100%;
    overflow: hidden;
}

.about-section {
    position: absolute;
    top: 100px;
    left: -500px;
    background-color: #27262A;
    border-radius: 10px;
    width: 550px;
    height: 350px;
    display: flex;
    box-sizing: border-box;
    transition: 1s;
    z-index: 10;
    opacity: 1;
}

.about-section:hover {
    left: 20px;
}

.about-section-hover-box {
    width: 10%;
    height: 100%;
    background-color: #635C73;
    box-sizing: border-box;
}

.line {
    height: 90%;
    width: 7px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50px;
}

.about-section-text-box {
    width: 90%;
    height: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
}

.about-section-text-box-title {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.about-section-text {
    margin-top: 20px;
    font-size: 16px;
    color: #8D81AC;
    text-align: center;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.video {
    position: absolute;
    top: 200px;
    left: 500px;
    width: 700px;
    height: 400px;
    z-index: 10;
    border-radius: 30px;
}